body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    text-align: center;
    padding: 10px;
}

.btn {
    margin: 10px;
    padding: 20px;
}

input {
    height: 50px;
    width: 250px;
    border-radius: 10%;
}